<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/semantic.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/myStyle.css')}}">
	</head>

	<body class="homePage">
		<div class="firstHeader">
			<img src="{{url_for('static', filename='img/first.png')}}">
		</div>
		<div class="secondHeader">
			<img src="{{url_for('static', filename='img/second.png')}}">
		</div>
		<div class="enterLink">
			<a href="/blog">
				<button class="ui circular icon orange basic button">
				  <i>Enter</i>
				</button>
			</a>
		</div>
	</body>

</html>